.menu {
  display: flex;
}

.menu_item {
  list-style: none;
  position: relative;
}

.menu_heading {
  margin: 15px 70px;
  font-weight: 400;
  color: #000;
  line-height: 60px;
  font-size: 21px;
}

.menu_item:hover .sub_menu {
  display: block;
}

.sub_menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 240px;
  z-index: 1000;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: #fff;
  list-style: none;
  border: 1px solid #ccc;
  padding: 13px;
  display: none;
}

.sub_menu::before {
  content: "";
  top: -30px;
  left: 89px;
  position: absolute;
  border-width: 15px 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.sub_menu1 {
  padding-bottom: 10px;
  font-size: 17px;
}

.sub_menu1:hover {
  color: rgb(82, 219, 82);
}
