.home_page {
  height: 5000px;
}

.home_banner {
  height: 450px;
}

.banner_container {
  display: flex;
  height: 100%;
  width: 1650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.banner_left {
  width: 1230px;
  padding-right: 30px;
}
